.container{
    padding: 20px;
    height: 100vh;
    main{
        height: 100%;
        background: #333;
        border-radius: 20px;
        display: flex;
    }
    .sidebar{
        overflow-y: hidden;
        min-width: 220px;
        &:hover{
            overflow-y: auto;
        }
        .sidebar_heading{
            display: flex;
            align-items: center;
            gap: 7px;
            color: white;
            padding: 20px;
            img{
                width: 60px;
            }
            h1{
                font-size: 23px;
            }
        }
        .nav_links{
            margin-top: 20px;

            .group{
                margin-bottom: 50px;
                font-size: 20px;
                .title{
                    color: white;
                    padding: 0 40px;
                }
                .links{
                    margin-top: 20px;
                    .link{
                        display: flex;
                        gap: 20px;
                        padding: 10px 40px;
                        color: #ddd;
                    }
                }
            }
        }
    }
    .right{
        flex: 1;
        overflow: hidden;
        padding-bottom: 100px;
        &:hover{
            overflow-y: auto;
        }
        .hero{
            height: 400px;
            background: rgb(100,217,207);
            background: linear-gradient(102deg, rgba(100,217,207,1) 0%, rgba(84,165,220,1) 40%, rgba(82,122,233,1) 68%, rgba(93,88,242,1) 100%);
            border-top-right-radius: 20px;
            display: flex;
            gap: 20px;
            padding: 30px 30px 30px 50px;
            position: relative;
            > div{
                flex: 1;
            }
            .left{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h1{
                    color: white;
                    max-width: 350px;
                    font-size: clamp(30px, 50px, 10vw);
                    -webkit-text-stroke: 3px white;
                    line-height: 1.5;
                    letter-spacing: 5px;
                }
                .cta{
                    display: flex;
                    p:first-child{
                       color: white; 
                       padding: 9px 12px;
                       background: rgba($color: #fff, $alpha: .3);
                       border-bottom-left-radius: 10px;
                    }
                    p:last-child{
                        background: #ffffffe2;
                        color: #333;
                        padding: 0px 10px;
                        height: 35px;
                        border-radius: 0 10px 0 10px;
                        position: relative;
                        left: -4px;
                        top: 2px;
                        display: flex;
                        align-items: center;
                    }
                    span{
                        margin-right: 10px;
                    }
                }
            }
            .search{
                display: flex;
                align-items: center;
               
                input{
                    background: transparent;
                    font-size: 18px;
                    padding: 10px;
                    width: 100%;
                    border: 0;
                    outline: 0;
                    color: white;
                    &::placeholder{
                        color: white;
                    }
                }
            }
            .middle{
                position: relative;
                width: 110%;
                img{
                    position: absolute;
                    top: -90px;
                    width: calc(100% - 20px);
                    height: calc(400px + 60px);
                    object-fit: cover;
                    right: -20%;
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                .top{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    div{
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }
                }
                .bottom{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    div{
                        background: #ddddddc7;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                    }
                }
                img{
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
        .tracks{
            margin-top: 30px;
            position: relative;
            .swiper-button-prev{
                position: absolute !important;
                top: -30px;
                right: 50px !important;
                left: auto;
                color: white;
                z-index: 100;
                background: blue;
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }
            .swiper-button-next{
                position: absolute !important;
                top: -30px;
                right: 10px !important;
                left: auto;
                color: white;
                z-index: 100;
                background: blue;
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }
            .swiper-button-next::after, .swiper-button-prev::after{
                font-size: 14px;
            }
            h1{
                color: white;
                margin: 30px 0;
            }
            .swiper{
                padding: 0 10px;
                overflow: visible; 
                padding-right: 200px;
            }
            .track_card{
                min-width: 150px;
                text-align: center;
                color: white;
                 div:has(img){
                    width: 100%;
                    aspect-ratio: 1;
                    margin-bottom: 8px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 30px 0;
                    }
                 }
                 p:first-child{
                    font-size: 14px;
                    margin-bottom: 6px;
                 }
                 p:last-child{
                    font-size: 12px;
                    color: #a7a4a4;
                 }
            }
        }
        .charts{
            display: grid;
            grid-template-columns: repeat(2, minmax(50%, 1fr));
            gap: 50px;
            margin-top: 50px;
            >div{
                flex: 1 1 0;
            }
            .billboard{
                h1{
                    font-size: 2rem;
                    color: white;
                    text-transform: capitalize;
                    margin-bottom: 30px;
                }
                .cards__container{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .card{
                        height: 100px;
                        width: 100%;
                        display: flex;
                        padding: 0 10px;
                        align-items: center;
                        justify-content: space-between;
                        .card_details{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            img{
                                width: 90px;
                                border-radius: 30px 0;
                            }
                            .title{
                                color: white;
                                margin-bottom: 8px;
                            }
                            .subtitle{
                                color: #999;
                                font-size: 14px;
                            }
                            + div{
                                display: flex;
                                align-items: center;
                                gap: 50px;
                                .time{
                                    color: #999;
                                }
                                div{
                                    display: flex;
                                    gap: 15px;
                                }
                            }
                        }
                    }
                }
            }
            .top_artists{
                h1{
                    color: white;
                    font-size: 2rem;
                    text-transform: capitalize;
                    margin-bottom: 30px;
                }
                .cards__container{
                    max-width: 100% !important;
                    .swiper{
                        width: max-content !important;
                    }
                    .swiper-wrapper{
                        padding-right: 500px;
                        max-width: 100% !important;
                        .swiper-slide{
                            width: max-content !important;
                        }
                    }
           
                    .card{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        img{
                            height: 100px;
                            width: 100px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        p{
                            color: white;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .player{
        position: fixed;
        height: 100px;
        width: calc(100% - 40px);
        bottom: 20px;
        background: rgba($color: #000, $alpha: .5);
        backdrop-filter: blur(5px);
        z-index: 3;
        border-radius: 0 0 20px 20px;
        display: flex;
        gap: 40px;
        align-items: center;
        padding: 0 40px;
        .track{
            flex: 2;
            
            > div{
                display: flex;
                gap: 10px;
                align-items: center;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 15px 0;
                    object-fit: cover;
                }
                .title{
                    color: white;
                    margin-bottom: 10px;
                }
                .subtitle{
                    color: #999;
                    font-size: 14px;
                }
            }
        }
        .controls{

            flex: 8;
            display: flex;
            align-items: center;
            gap: 20px;
            .icons{
                display: flex;
                gap: 10px;
            }
            .seekbar{
                flex: 1;
                display: flex;
                gap: 10px;
                color: #999;
                font-size: 18px;
                input{
                    width: 100%;
                    accent-color: #999;
                    outline: 0;
                    border: 0;
                }
                input::-webkit-slider-runnable-track{
                    height: 5px;
                    border-radius: 5px;
                }
                input::-webkit-slider-thumb {
                    height: 26px;
                    width: 26px;
                    border-radius: 15px;
                    background: #999;
                    cursor: pointer;
                    margin-top: -5px;
                  }
            }
        }
        .volume{
            flex: 2;
            display: flex;
            align-items: center;
            gap: 20px;
            .left{
                flex: 2;
                display: flex;
                align-items: center;
                gap: 10px;
                input{
                    width: 80%;
                    accent-color: #999;
                    outline: 0;
                    border: 0;
                }
                input::-webkit-slider-runnable-track{
                    height: 5px;
                    border-radius: 5px;
                }
                input::-webkit-slider-thumb {
                    height: 26px;
                    width: 26px;
                    border-radius: 15px;
                    background: #999;
                    cursor: pointer;
                    margin-top: -5px;
                  }
            }
            > div:last-child{
                flex: 1;
            }
        }
    }
}
